<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header id="site-header">
    <h1><a href="/">BOO! <img src="../images/ghost.png" alt="ghost icon"></a> </h1>
    <nav>
      <ul>
        {{#unless currentUser}}
        <li><a href="/auth/signup">SignUp</a></li>
        <li><a href="/auth/login">LogIn</a></li>
        {{/unless}}
        {{#if currentUser}}
        <li>
          Logged in as: {{currentUser.username}}
          <form method="POST" action="/auth/logout">
            <button type="submit">Log Out</button>
          </form>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <body class="container">
    {{{body}}}
  </body>
  <footer>
    <p>Made by Barbara and Francesca</p>
  </footer>
</html>
